<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Memoire</title> 
    <style>
        body {
            background-color: #240750;
        }
        form{
            color:rgb(198, 198, 198)
        }
    </style>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" required id="title" name="title" aria-describedby="title">
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <textarea class="form-control" name="body" required id="body" style="height: 100px"></textarea>
                    <label for="body">Comments</label>
                  </div>
            </div>
            <div class="mb-3">
                <label for="coverImage">Cover Image</label>
                <input type="file" class="form-control" required id="coverImage" name="coverImage" aria-describedby="coverImage">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <%- include('partials/script') %>
</body>
</html>